<% content_for :title, "#{@fragment.display_title} &mdash; All revisions".html_safe %>
<% if @fragment.fragment_versions_with_revisions -%>
	<table>
		<%= render :partial => 'fragment_version/fragment_version_from_fragment', :collection => @fragment.fragment_versions_with_revisions %>
	</table>
<% else -%>
	<%= content_tag( 'p', 'Sorry, there are no revisions to show.' ) %>
<% end -%>