<tr>
	<%= content_tag( 'td', link_to( order_version.fragment_versions.first.display_number, order_show_url( :order => order_version.order ) ) ) %>
	<td>
		<%= render :partial => 'fragment_version/fragment_version_text', :collection => order_version.fragment_versions %>
	</td>
</tr>