<% content_for :title, @order.display_title %>
<table>
	<tbody>
		<tr>
			<th>First appearance</th>
			<td><%= link_to( @order.order_versions.first.revision_set.display_date, revision_set_show_url( :revision_set => @order.order_versions.first.revision_set, :anchor => "fragment-#{@order.order_versions.first.citation_in_list}" ) ) %></td>
		</tr>
		<tr>
			<th>Last appearance</th>
			<td><%= link_to( @order.order_versions.last.revision_set.display_date, revision_set_show_url( :revision_set => @order.order_versions.last.revision_set, :anchor => "fragment-#{@order.order_versions.last.citation_in_list}" ) ) %></td>
		</tr>
	</tbody>
</table>
<table>
	<%= render :partial => 'order_version/order_version_from_order', :collection => @order.order_versions %>
</table>