
<% content_for :title, "House of Commons Public Standing Orders" %>

<p>House of Commons Public Standing Orders citable over time, based on data from <a href="https://parlrulesdata.org/">the ParlRules project</a>.</p>

<ol id="adoption_dates" class="list pl0">
	<%= render(
		:partial => 'adoption/adoption', 
		:collection => @adoptions, 
		cached: true
		) %>
</ol>

