
<% content_for :title, "Standing Orders" %>

<p>Standing Orders citable over time, based on data from <a href="https://parlrulesdata.org/">the ParlRules project</a>.</p>

<ol id="revision_sets" class="list pl0">
	<%= render(
		:partial => 'revision_set/revision_set', 
		:collection => @revision_sets, 
		cached: true
		) %>
</ol>

