
<% content_for :title, "Standing Orders" %>

<p>Standing Orders citable over time, based on data from <a href="https://parlrulesdata.org/">the ParlRules project</a>.</p>

<ol id="houses" class="list pl0">
	<%= render(
		:partial => 'house/house', 
		:collection => @houses, 
		cached: true
		) %>
</ol>

