<%= content_tag( 'h1', @standing_order_fragment.id ) %>
<table>
	<tbody>
		<%= render :partial => 'standing_order_fragment_version/standing_order_fragment_version_from_fragment', :collection => @standing_order_fragment.standing_order_fragment_versions %>
	</tbody>
</table>