<% content_for :title, "Fragments - #{@adoption.display_date}".html_safe %>

<table>
	<%= render :partial => 'fragment_version/fragment_version', :collection => @adoption.fragment_versions %>
</table>