body * {
	font-family: arial, helvetica, verdana, sans-serif;
}

/* main */
.main {
	background-color: #fff;
}

/* headings */
h1 {
	border-color: #aaa;
	border-style: solid;
	font-size: 1.2em;
	font-weight: bold;
}
h2 {
	border-color: #ccc;
	border-style: solid;
	font-weight: bold;
}

/* make a date in a table cell not wrap */
.date-cell {
	white-space: nowrap;
}

/* pick out current fragment */
.highlight {
	background-color: orange;
}

/* pick out in force status */
.in-force {
	background-color: green;
}
.out-of-force {
	background-color: red;
}

.hide {
	display: none;
}