body {
	font-family: system-ui, arial, helvetica, verdana, sans-serif;
	line-height: 1.4em;
	background-color: white;
	color: #333;
}

footer {
	color: #999;
	}

li.adoption_date { 
	text-align: right;
	}
	
h1 {
	font-weight: bold;
	border-bottom: thin dotted gray;
}

img#schema {
	width:100%;
	}
	
h2 {
	font-weight: bold;
	border-bottom: thin dotted gray;
}

.shadowed {
	color: #ddd;
	}

.shadowed:hover {
	color: #333;
	}
	
.displayed {
	font-weight: bold;
	}
	
.date-cell {
	white-space: nowrap;
}

.highlight {
	background-color: orange;
}

.in-force {
	background-color: lightgreen;
}

.out-of-force {
	background-color: red;
}

.hide {
	display: none;
}