// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 1rem;
  max-width: 44rem;
  margin: auto;
  font-family: system-ui, arial, helvetica, verdana, sans-serif;

  &.development {
    border-top: 0.5rem solid crimson;
  }
}

nav {
  padding-bottom: 1em;
}

header {

}

main {
  padding: 1rem auto;
  line-height: 1.4rem;
}

footer {
  padding-top: 2rem;
}

ol#adoption_dates {
  max-width: 12rem;
  list-style-type: none;
}

p, ol {
  padding-bottom: 1rem;
}

th, td {
  padding: .2rem .3rem;
}

.section {
  margin-bottom: 2rem;
  position: relative;
}

h1 {

}

h2 {

}

#in-force-status p {
  padding: 1rem;
}

li.adoption_date {
  text-align: right;
}

img#schema {
  width: 100%;
}

.shadowed {
  color: #ddd;

  &:hover {
    color: #333;
    font-weight: bold;
  }
}

.displayed {
  font-weight: bold;
}

.date-cell {
  white-space: nowrap;
}

.highlight {
  background-color: orange;
}

.in-force {
  background-color: lightgreen;
}

.out-of-force {
  background-color: red;
}

.hide {
  display: none;
}