// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    system-ui, arial, helvetica, verdana, sans-serif;
$color-primary-foreground: #333;
$color-primary-background: #fff;
$color-highlight: #FFA500;

body {
  font-family: $font-stack;
  margin: auto;
  max-width: 44rem;
  padding: 1rem;
  color: $color-primary-foreground;
  background-color: $color-primary-background;
}

nav {
  padding-bottom: 1em;
}

header {

}

main {
  line-height: 1.4rem;
  padding: 1rem auto;
}

footer {
  padding-top: 2rem;
}

ol#adoption_dates {
  max-width: 12rem;
  list-style-type: none;
}

ol#standing_order_fragments {
  max-width: 12rem;
  list-style-type: none;
}

cite {
  font-style: normal;
}

h1 {

}

h2 {

}

#in-force-status p {
  padding: 1rem;
}

li.adoption_date {
  text-align: right;
}

img#schema {
  width: 100%;
}

.displayed {
  font-weight: bold;
}

.date-cell {
  white-space: nowrap;
}

.highlight {
  background-color: $color-highlight;
}

.in-force {
  background-color: lightgreen;
}

.out-of-force {
  background-color: red;
}

.hide {
  display: none;
}

span.standing-order-number {
}

span.link-to-fragment {
}
