
<% content_for :title, @adoption_date.display_date + ", as adopted" %>

<table>
	<tbody>
		<%= render( 
			:partial => 'standing_order_fragment_version/standing_order_fragment_version_from_adoption_date', 
			:collection => @adoption_date.standing_order_fragment_versions,
			cached: true
			) %>
	</tbody>
</table>