<!DOCTYPE html>
<html lang="en-gb">
	<head>
		<meta charset="utf-8">
  	  <title>Standing Orders</title>
	  <%= stylesheet_link_tag 'application' %>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='dns-prefetch' href='//standing-orders.herokuapp.com'>
	</head>
	<body id="<%= Rails.env %>-environment" class="sans-serif near-black bg-white center w-60-ns pa3">
	
<header>

			<nav><a href="/">House of Commons Public Standing Orders</a></nav>
			
			<h1 class="lh-title f3 normal"><%= yield(:title) %></h1>

		</header>
		
		<main class="lh-copy f4 pv3">
		
		
<!-- 
		<div class="flex justify-center">
  <div class="outline w-5 pa3 mr1">
    <code>1</code>
  </div>
  <div class="outline w-90 pa3 mr1">
    <code>2</code>
  </div>
  <div class="outline w-5 pa3 mr1">
    <code>3</code>
  </div>
</div>
 -->


			<%= yield %>
		</main>
		
		<footer class="lh-copy measure-wide">
		
		<cite class="fs-normal">
		
		<p>UK House of Commons Standing Orders Dataset, Version 1.1.0, ParlRulesData Project. 2019.</p>

		<p>Goet, Niels D., Thomas G. Fleming, and Radoslaw Zubek. Forthcoming. ‘Procedural Change in the UK House of Commons, 1811-2015’. Legislative Studies Quarterly.</p>
		
		
		</cite>

		</footer>

	</body>
</html>
