<!DOCTYPE html>
<html lang="en-gb">
	<head>
		<meta charset="utf-8">
  	  <title>Standing Orders</title>
	  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <link rel='dns-prefetch' href='//standing-orders.herokuapp.com'>
	</head>
	<body>
	
		<header>
			<nav>
				<a href="/">House of Commons Public Standing Orders</a>
				-
				<a href="/adoption-dates">Adoption dates</a>
				-
				<a href="/standing-order-fragments">Fragments</a>
				
			</nav>
		</header>
		
		<main>
			<%= yield %>
		<main>
		
		<footer>
		
		<%= content_tag( :p, 
			content_tag( :cite, "UK House of Commons Standing Orders Dataset, Version 1.0.0, ParlRulesData Project. 2019." ) ) %>

		<%= content_tag( :p, 
			content_tag( :cite, "Goet, Niels D., Thomas G. Fleming, and Radoslaw Zubek. Forthcoming. ‘Procedural Change in the UK House of Commons, 1811-2015’. Legislative Studies Quarterly." ) ) %>

		</footer>
		
	</body>
</html>
