<!DOCTYPE html>
<html lang="en-gb">
	<head>
  	  <title>Standing Orders</title>
	  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <link rel='dns-prefetch' href='//standing-orders.herokuapp.com'>
	  <%# csrf_meta_tags %>
	</head>
	<body>
	
		<header>
			<nav>
				<a href="/">House of Commons Public Standing Orders</a>
			</nav>
		</header>
		
		<main>
			<%= yield %>
		<main>
		
		<footer>
		</footer>
		
	</body>
</html>
